/*styles the menu for all pages*/

.menu nav ul {
  list-style-type: none; /* Removes dots */
  padding-inline-start: 0; 
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 10px 20px;
}

.menu nav li a
{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    padding: 15px;
    margin: 10px;
   
}
.menu nav li a:hover {
  background-color: #ce8c66;         
}

.wrapper {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 10px 20px;
  background-color: white;
  margin:5px;
}

.menutitle{
  color:#55251D;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/*styles the footer for all pages*/
.footer {
  align-items: center;
  justify-content: space-between;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  position: fixed;
}

.footer-left {
  display: flex;
  align-items: left;
  padding: 10px 20px;

}

.footer-left a{
  text-decoration: none;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  padding: 5px;
}

.footer a:hover {
  background-color: #ce8c66;         
}

.footer-right {
  align-items: right;
  display: flex;
}

/*Background color and styling*/
html {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(67, 119, 60));
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 200px;
}


/*Php chart home content styling*/

table {
  text-decoration: none;
  border-collapse: collapse;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  padding: 5px;
  font-size: 0.1em;
}

.chart th {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 2em;
}
.chart img {
    height: 250px;
    width: auto;
}

.chart tr {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0.5px;
  padding: 5px;
  border-collapse: collapse;
}

.chart td {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0.5px;
  padding: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
}
.chart li {
  list-style-type: none; /* Removes dots */
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.chart h2 {
  text-align: center;
  position: relative;
  color: rgb(48, 48, 48);
}


.chart h3 {
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: rgb(70, 66, 66);
  color: whitesmoke;
}

.chart h3:hover {
    background-color: whitesmoke;
    color: rgb(70, 66, 66);
}
.chart a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  color: #55251D;
}


/*employee pages styling*/

.emp_right {
    float: center;
    flex: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color:#55251D;
    padding: 15px;
}

.emp_left {
    float: left;
}

.emp_left img {
    height: 400px;
    width: auto;
    background-color: white;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
}

hr {
    height: 1px;           /* Sets the thickness */
    background-color: black; /* Sets the fill color */
    border: none;          /* Removes the default 3D border */
}

/*message at bottom*/
.message {
    text-align: center;
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}